.body {
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

.divs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100vh;
}

.conteudo {
    margin-right: 300px;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

.texto {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.bottom {
    display: flex;
    width: 100%;
}

.button {
    width: 100%;
}

.button:nth-child(1) {
    width: 25%;
}

.button:nth-child(2) {
    width: 25%;
}

#clicou {
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
}